PORT=3001
CORS_ORIGIN=http://localhost:5173

# Initia endpoints
INITIA_REST_URL=http://localhost:1317
INITIA_RPC_URL=http://localhost:26657
INITIA_JSON_RPC_URL=http://localhost:8545

# Deployed PrismTreasury contract on your appchain or Initia testnet EVM
IAE_CONTRACT_ADDRESS=0x47E065e4653cAcbA7E804f1eA5c68deC6C6A8F63

# Prisma database
DATABASE_URL=postgresql://user:password@host:6543/dbname
