VITE_APPCHAIN_ID=prism-1
VITE_NATIVE_DENOM=GAS
VITE_NATIVE_SYMBOL=GAS
VITE_NATIVE_DECIMALS=18
VITE_JSON_RPC_URL=http://localhost:8545
VITE_PRISM_TREASURY_CONTRACT=0x24827e983e9921790721BDc294a50803928C9685
VITE_BRIDGE_SRC_CHAIN_ID=initiation-2
VITE_BRIDGE_SRC_DENOM=uinit
