VITE_APPCHAIN_ID=initiation-2
VITE_JSON_RPC_URL=https://json-rpc.testnet.initia.xyz
VITE_REST_URL=https://rest.testnet.initia.xyz
VITE_RPC_URL=https://rpc.testnet.initia.xyz
VITE_INDEXER_URL=https://indexer.testnet.initia.xyz
VITE_IAE_CONTRACT_ADDRESS=0x47E065e4653cAcbA7E804f1eA5c68deC6C6A8F63
VITE_PRISM_TREASURY_CONTRACT=0x47E065e4653cAcbA7E804f1eA5c68deC6C6A8F63
VITE_NATIVE_DENOM=uinit
VITE_NATIVE_SYMBOL=INIT
VITE_NATIVE_DECIMALS=6
VITE_BRIDGE_SRC_CHAIN_ID=initiation-2
VITE_BRIDGE_SRC_DENOM=uinit
VITE_API_BASE_URL=https://your-backend-domain.example.com
VITE_SCAN_BASE_URL=https://scan.testnet.initia.xyz
